@import '../infoOfLocation/infOfLoc.scss';
// -------------------------------------Map-----------------------------------------------
$font-item:Roboto;
$font-item1:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

 .Todo .ListItemsTodo{
    position: absolute;
    display:flex;
    flex-flow: row nowrap;
   top:$mrginTopOfInfo + 195 ;
//    left:$mrginLeftOfInfo - 0.9 ;
    right: $mrginRightOfInfo - 0.5 ;
   direction: rtl;
    z-index: 2;
   transition: ease-out 0.6s;
   width: 100%;
   overflow: auto;
//    background-color: rgba(51, 51, 51,0.6);
   
 }

 .prodCont{
     margin-left: 5.5px;
    background-color: rgb(253, 253, 253);
    width:270px;
    height: 105px;
    direction: rtl;
    text-align: right;
    border-radius: 15px;
    margin-top: 1%;
    border :2px solid $second-color;
    box-shadow: 1px 3px 3px rgb(156, 156, 156);
    z-index: 2;
   
 }
 .prod-list{
   position: relative;
    text-align: right;
    font-size: 11.5px;
    color: $item-color1;
    z-index: 1;
    font-family: $font-item1;
    z-index: 2;
   
 }
 .prod-list.prodName{
   position: absolute;
    font-family: $font-item;
    color: $item-color2;
    font-size: 15px;
    //padding-right: 0px;
    margin: 9px 5px;
    cursor: pointer;
    @include overFlowText;
   
    
 }
 .prod-list.prodImg{
    width:35px;
    height: 35px;
    margin: 2%;
    box-shadow: 2px 2px 4px rgb(133, 132, 132);
    border-radius: 50%;
    margin-right:15px;
    margin-top: 7px;
     cursor: pointer;
 }
 $mrgR:57px;
 .prod-list.prodType{
    position: relative;
   @include overFlowText;
   margin-top: -17px;
   margin-right: $mrgR;
   color:rgb(37, 37, 37);
   cursor: pointer;
}
.prod-list.prodPrice{
    position: relative;
    background-color:  $first-color;
    border-radius: 10px;
    padding: 0px 8px 1px;
    top: 0px ;
    left:1px;
    font-size: 9px;
 
  
    
}
.prod-list.price{
    position: relative;
    margin-right: $mrgR;
    color: rgb(37, 37, 37);
}
.prod-list.prodTypeHover{
    
    @include DisHover;
    color:#525151;
  

   
   
}
.item{
    position: absolute;
      top: 73px;
      display: flex;
      transition: ease-out 0.6s;
  }
.iconInteractions{
     position: absolute;
    margin-right: 135px;
    font-size: 12px;
    display: flex;
    transition: ease-out 0.6s;
    cursor: pointer;
   
}

.ListItemsTodo .fa.fa-thumbs-up ,.ListItemsTodo .fa.fa-thumbs-down,.ListItemsTodo .fas.fa-comments{
    width: 17px;
    height: 17px;
    background-color:white ;
    border-radius: 20%;
    color:rgb(134, 132, 132);
    padding: 2px;
    box-shadow: 1px 1px 1px 1px rgba(199, 198, 198,0.7);
    transition: ease-out 0.1s;
    z-index: 2;
   
}
$t:16px;
$l:-252px;
.like{
    position: absolute;
    top:$t;
    text-align: center;
    left: $l+106;
    
}
.dislike{
    position: absolute;
    top:$t;
    text-align: center;
    left: $l+55;
}
.comment{
    position: absolute;
    top:$t;
     text-align: center;
    left: $l+3;
}

.inter{
    position: relative;
    border: 1px solid $second-color;
   
    margin-left: 35px;
    font-size: 11.5px;
    color:$item-color1;
    margin-top: 3px;
   
   

}
.like,.dislike,.comment
{
    // text-overflow: ellipsis;
    // overflow: hidden;
    // white-space: nowrap;
    // width: 10px;
    // direction: ltr;
    // background-color: red;
    color: rgb(37, 37, 37);
    
   
}
.Noitem{
    margin-left: 500px;
}
.Todo .carousel-control-prev-icon,.Todo .carousel-control-next-icon{
   width: 20px;
   position: absolute;
   top:410px;
   cursor: pointer;
   background-color: rgba(51, 51, 51,0.8);
  
  
}

$arrowL:5px;
.Todo .carousel-control-prev-icon{
    position: absolute;
    left:$arrowL;
    display: none;
  
}
.Todo .carousel-control-next-icon{
    position: absolute;
     left:$arrowL - 470px;
     display: none;
}
