.infoLoc {
  text-align: right;
  padding-right: 62px;
  padding-top: 5px;
  font-size: 12px;
  color: #525151;
  justify-items: right;
  z-index: 1;
}

.circle {
  position: absolute;
  margin: 2% 82.6%;
  width: 39px;
  height: 42px;
  border: 2px solid #47A851;
  border-radius: 50%;
  padding: 0px;
  border-left: none;
}

.infoLoc.photoOfLoc {
  position: absolute;
  margin: 3% 82.5%;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 0px;
  cursor: pointer;
}

.infoLoc.nameOfLoc {
  font-family: Roboto;
  color: rgb(29, 29, 29);
  font-size: 14px;
  font-weight: bold;
  margin-top: 2%;
  cursor: pointer;
}

.infoLoc.typeOfLoc {
  padding-top: 2px;
}

.infoLoc.placeOfLoc {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  direction: rtl;
  cursor: pointer;
  padding-right: 77px;
}

.placeOfLocHover {
  position: fixed;
  background-color: #c8c8c8;
  width: 20%;
  white-space: pre-wrap;
  text-align: right;
  direction: rtl;
  border-radius: 13px;
  padding-right: 8px;
  padding-bottom: 5px;
  border-bottom-right-radius: 0px;
  margin-left: 0px;
  display: none;
}

.info.fa.fa-map-marker {
  position: absolute;
  margin-top: -20.3px;
  margin-left: 215px;
  color: #47A851;
}

.info.fa.fa-cutlery {
  color: #525151;
  padding-right: 4px;
  padding-top: 3px;
  width: 15px;
  height: 15px;
  font-size: 1px;
  border-radius: 55px;
  padding-left: 8px;
}

.info.fa.fa-map-marker {
  width: 15px;
  height: 15px;
  font-size: 1px;
  border-radius: 55px;
  padding-left: 8px;
  font-size: 15px;
}

.info.fa.fa-clock-o {
  width: 15px;
  height: 15px;
  font-size: 1px;
  border-radius: 55px;
  padding-left: 8px;
  font-size: 13px;
}

.Follow {
  position: absolute;
  margin: -29.5% 10%;
  font-size: 9px;
  color: #525151;
  border: 1.5px solid #47A851;
  width: 80px;
  height: 16px;
  padding-left: 25px;
  padding-bottom: 15px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0px 6px 9px -5px rgba(0, 0, 0, 0.578);
}

.Follow:hover {
  box-shadow: 0px 6px 10px -2px rgba(0, 0, 0, 0.578);
}

.goToInfo {
  display: none;
}

.amazing_feature {
  margin-top: -30px;
}

.amazing_feature h1,
.amazing_feature h2 {
  color: #47A851;
}

.amazing_feature a,
.amazing_feature a:hover,
.amazing_feature a:focus,
.amazing_feature a:active {
  text-decoration: none;
  outline: none;
}

.amazing_feature ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.amazing_feature .heading {
  margin-top: 0px;
  background-color: transparent;
}

.amazing_feature .separator {
  position: relative;
  display: inline-block;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.amazing_feature .separator:after,
.amazing_feature .separator:before {
  position: absolute;
  content: "";
  width: 50px;
  height: 2px;
  background: #47A851;
  top: 50%;
}

.amazing_feature .separator i {
  color: #8cb590;
}

.amazing_feature .separator:after {
  right: 140%;
}

.amazing_feature .separator:before {
  left: 140%;
}

.amazing_feature {
  padding-top: 80px;
  padding-bottom: 50px;
}

.amazing_feature .single_feature {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  padding: 40px 40px;
  height: 210px;
  width: 350px;
  direction: rtl;
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
  border: 1px solid #47A851;
}

.amazing_feature .single_feature:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #47A851;
  transform: scaleY(0);
  transform-origin: 50% 0;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  text-overflow: ellipsis;
}

.amazing_feature .single_feature:hover,
.amazing_feature .single_feature:focus,
.amazing_feature .single_feature:active {
  color: white;
}

.amazing_feature .single_feature:hover:before,
.amazing_feature .single_feature:focus:before,
.amazing_feature .single_feature:active:before {
  transform: scaleY(1);
}

.amazing_feature .single_feature i {
  border: 1px solid #e8e8e9;
  border-radius: 50%;
  color: #333;
  float: right;
  font-size: 20px;
  height: 60px;
  line-height: 60px;
  margin-right: -15px;
  position: relative;
  text-align: center;
  transition: all 0.3s ease 0s;
  width: 60px;
  z-index: 3;
  margin-top: 25px;
}

.amazing_feature .single_feature:hover i {
  background: #fff;
  border: 1px solid #fff;
  color: #8cb590;
}

.amazing_feature .single_feature h3 {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 400;
  margin-top: 0px;
  overflow: hidden;
}

.amazing_feature .single_feature:hover h3 {
  color: #fff;
}

.amazing_feature .single_feature span {
  border-bottom: 1px dashed #ccc;
  display: block;
  margin: 15px auto 10px;
  width: 80px;
}

.amazing_feature .single_feature p {
  margin-bottom: 0;
  height: 100%;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

.amazing_feature h3,
.amazing_feature h4,
.amazing_feature h5,
.amazing_feature h6 {
  color: #8cb590;
}/*# sourceMappingURL=ourServices.css.map */