.GoogleM{
    position: relative;
}
.MapBoxSignUp .mapboxgl-ctrl-top-right {
 
    margin-top: 0px ;
    margin-right: 2px;
    z-index: 0;
  
  
  }
  .MapBoxSignUp .mapboxgl-popup {
    padding-bottom: 45px;
   

  }
  
  .MapBoxSignUp .mapboxgl-popup-close-button {
    display: none;
  
  }
  
  .MapBoxSignUp .mapboxgl-popup-content {
  
    padding: 2px 4px 2px 4px;
   
   width: auto;
   height: 30px;
   
  
  
  
  }
  
  .MapBoxSignUp .MapLoad{
    width: 96.5%;
    height:350px;
    padding-top:19% ;
  }
  
  .mapBox.mapboxgl-popup-content .PopUp {
    margin: 0;
  
    padding: 0px;
   
    font-weight: 0;
    direction: rtl;
    font-size: 0em;
  }
  
  .MapBoxSignUp .marker {

  
    margin-top: 35px;
    margin-left: -40px;
  
  }
  
 
  